*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, Arial;
    background-image: url("images/fondo3.jpg");
    background-size: 100%;
    background-attachment: fixed;
    font-size: 16px;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}
header{
    background: #90A4AE;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
header nav{
    width: 100%;
}
header nav ul{
    width: 100%;
    overflow: hidden;
    list-style: none;
}
header nav ul div{
    width: 100%;
}
header nav ul div img{
    width: 5.3%;
    vertical-align: top;
    border-top-left-radius: 20px;
    float: left;
}
header nav ul li{
    float: left;
}
header nav ul li p{
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: #FFF;
    font-weight: bold;
}
header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
}
header nav ul li a:hover{
    background: #78909C;
    color: #fff;
    border-radius: 10px;
}


footer{
    width: 100%;
    background: #90A4AE;
    clear: both;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
footer p a{
    color: #fff;
}
@media screen and (max-width:800px) {
    .main{
        width: 100%;
    }
    .formulario{
        width: 100%;
    }

    footer{
        width: 100%
    }
}
